<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <title>Deco Martins</title>
</head>
<body>
    
   <header>
       <div class="links">
        <a  href="/">Sobre</a>
        <a href="/views/portfolio.html">Aulas</a>
       </div>
   </header>
    
   <div id="wrapper">
       <img class="photo" src="https://avatars.githubusercontent.com/u/69599938?v=4" alt="Deco Martins">
       <h1> André lumertz Martins</h1>
       <h2> Web Developer</h2>
       <p>Sempre buscando evoluir. Developer Front-end Freelancer</a></p>
   </div>
         <div id="links-footer" class="links">
             <a href="https://www.linkedin.com/in/andr%C3%A9-martins-34b347134/" target="_blank">linkedin</a>
             <a href="https://www.instagram.com/oi_deco/" target="_blank">Instagram</a>
            <a href="https://github.com/andrelumertz" target="_blank">GitHub</a>

         </div>

        
         
        <script src="scripts.js"> </script>
        <script src="index.js"></script>

        </body>
</html>

