<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Deco Martins</title>
</head>
<body>
    
    <header>
        <div class="links">
         <a href="/views/index.html">Sobre</a>
         <a href="/views/portfolio.html">Aulas</a>
        </div>
    </header>
    
   <div id="wrapper">
       <h1>Aulas</h1>
      
   </div>
        
   <section class="cards">
            
            <div class="card" id="sxPEmuW7aUg">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/sxPEmuW7aUg/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p class="title">Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>
        

            <div class="card" id="k5TkBcUTJus">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/k5TkBcUTJus/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p class="title">Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>

            <div class="card" id="2nXsLpUCO20">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/2nXsLpUCO20/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p class="title">Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>
        

            <div class="card" id="vqrjFnq3-uo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/vqrjFnq3-uo/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p class="title">Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>

            <div class="card" id="EhnXaybirdA">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/EhnXaybirdA/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p>Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>
        
    
            <div class="card" id="GykTLqODQuU">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video-Aula" >
            </div>
                <div class="card__content">
                    <p>Tabs para web</p>
                </div>
                <div class="cards__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
            </div>
        
        </section>
        

        <div class="modal-overlay">
         <div class="modal">
             <a class="close-modal">
                 <i class="material-icons">close</i>
             </a>
             
             <div class="modal-content">
                 <iframe src="" frameborder="0"></iframe>
             </div>
         </div>
        </div>
       
        <script src="/scripts.js"></script>
        

</body>
</html>