<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    {% block head %}
      <title>Deco Martins</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>


    <div class="one">
        
    </div>

    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    
     {% block content %} {% endblock %}
    

</body>

</html>